/* 普通版高亮样式 */
.xh-highlight {
  background-color: #fff59d !important;
  border: 3px solid red !important;
  box-sizing: border-box !important;
  color: #FFDAB9 !important;
  text-decoration: underline;
}

/*  */
.xh-lightlight-compare-strict {
  background-color: #40999d !important;
  border: 3px solid green !important;
  box-sizing: border-box !important;
  color: #FFDAB9 !important;
  text-decoration: underline;
}

/*  */
.xh-lightlight-compare-fuzzy {
  background-color: #674f9d !important;
  border: 3px solid blue !important;
  box-sizing: border-box !important;
  color: #FFDAB9 !important;
  text-decoration: underline;
}

img.xh-highlight {
  opacity: 0.5 !important;
}

/* 弹窗输入 */
.c-block {
  display: block;
  width: 80% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.c-block-full {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}
.c-talign {
  text-align: left !important;
}
.c-block span {
  color: initial !important;
}
.c-disp-ib {
  display: inline-block !important;
}
#c-input-box {
  font-size: 16px !important;
  position: fixed;
  width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  z-index: 999;
  text-align: center;
  box-sizing: border-box;
  padding: 0 0 24px;
  box-shadow: 0px 1px 10px 0 #999;
  background-color: #FFFFFF;
  border-radius: 10px;
  align-items: center;
  /* transform: translateZ(3px) translateX(-50%) translateY(-50%); */
  left: 50%;
  top: 50%;
}
#c-input-box .middle-left {
  margin-left: 20px !important;
}
#c-input-box .select-input--wrapper {
  width: 100%;
  padding: 0 12px;
}
#c-input-box select {
  width: 80% !important;
  height: 36px !important;
  border: none !important;
  box-shadow: 0px 1px 5px 0 #bbb;
  margin-bottom: 20px !important;
}
#c-input-box .c-input-cl {
  width: 60% !important;
  margin: 0 auto 20px;
  box-sizing: border-box !important;
  border: none !important;
  box-shadow: 0px 1px 5px 0 #bbb;
  height: 36px !important;
  line-heigth: 36px !important;
}
#c-input-box textarea {
  resize: none;
  border: none;
  width: 80% !important;
  margin: 0 auto 20px !important;
  height: auto !important;
  overflow-y: auto !important;
  box-sizing: border-box !important;
  box-shadow: 0px 1px 5px 0 #bbb;
  vertical-align: middle !important;
}
#c-input-box .c-xpath-textarea-wrapper textarea {
  min-height: 96px !important;
  font-size: 16px !important;
}
#c-input-box .c-xpath-textarea-wrapper p {
  width: 80%;
  font-size: 18px !important;
  color: #888888 !important;
  text-align: left !important;
  margin: 0 auto 6px !important;
}
#c-input-box .c-buttons {
  width: 80% !important;
  height: 40px !important;
  margin: auto !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row !important;
}
#c-input-box .c-identification-area-select {
  box-shadow: rgb(187, 187, 187) 0px 1px 0px 0px;
  overflow: hidden !important;
}
#c-input-box .c-identification-area-create {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  box-shadow: rgb(187, 187, 187) 0px 1px 0px 0px;
  overflow: hidden !important;
}
#c-input-box .c-move-area {
  color: #898989;
  height: 60px !important;
  width: 100% !important;
  box-sizing: border-box !important;
  border: 1px dashed #898989 !important;
  text-align: center !important;
  line-height: 60px !important;
  margin-bottom: 24px;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0;
}
.c-buttons div {
  border-radius: 4px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100px !important;
  height: 100% !important;
  color: #ffffff;
  line-height: 40px !important;
  margin: 0 30px;
}
.c-identificationAreaSelect-wrapper {
  width: 80% !important;
  margin: 0 auto 20px;
  text-align: left !important;
  flex-direction: row !important;
}
.c-buttons div:nth-child(1) {
  background-color: #bababa !important;
}
.c-buttons div:nth-child(2) {
  color: #d9eef7 !important; 
  background: #0095cd !important;
}
.c-identificationAreaSelect-wrapper span {
  color: #3f87a6 !important;
  margin-left: 6px;
}
.c-identificationAreaSelect-wrapper > * {
  vertical-align: middle !important;
}

/* 弹窗提示 */


/* 预览窗口 */
.c-preview-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  height: 100% !important;
  text-align: center !important;
  z-index: 999 !important;
}
.c-preview-wrapper .c-preview-content {
  background: #ffffff !important;
  width: 60% !important;
  min-width: 500px !important;
  height: 600px !important;
  box-shadow: 0px 0px 10px #000;
}
.c-preview-close{
  cursor: pointer;
  position: absolute !important;
  width: 50px !important;
  height: 35px !important;
  line-height: 35px !important;
  top: 3px !important;
  right: 0 !important;
  font-size: 20px !important;
  line-height: 35px !important;
}
.c-preview-wrapper .c-preview-title {
  margin: 0;
  padding: 10px;
  background: rgb(180, 185, 191);
  position: relative !important;
}
.c-preview-data {
  background: rgb(236, 236, 236);
  max-height: 600px !important;
  color: rgb(96, 98, 102) !important;
  /* height: 70% !important; */
  /* width: 90% !important; */
  margin: 20px auto;
  overflow: auto !important;
  text-align: left !important;
  line-height: 1.3 !important;
}
.c-previwe-bottons {
  margin-top: 20px;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
}
.c-previwe-button { 
  cursor: pointer;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  border-radius: .5em;
  box-shadow: 0 1px 2px rgba(0,0,0,.2); 
}

/* blue */
.c-previwe-button.blue {  
  color: #d9eef7 !important;
  background: #0095cd !important;
}
.c-previwe-button.blue:hover {  
  background: #007ead !important;
}
.c-previwe-button.blue:active {  
  color: #80bed6 !important;
}
/* white */
.c-previwe-button.white {  
  color: #606060 !important;
  background: #dadada !important;
}  
.c-previwe-button.white:hover {  
  background: #ededed !important;
}
.c-previwe-button.white:active {  
  color: #999 !important;
}

/* element-ui table 样式调整 */
.c-el-table-wrapper table, .c-md-data-table-wrapper table {
  margin: 0;
}
.c-el-table-wrapper .el-table td {
  border-top: none;
  border-left: none;
  border-right: none;
}
.c-el-table-wrapper .el-table th {
  border-top: none;
  border-left: none;
  border-right: none;
}
.el-tooltip__popper {
  max-width: 1000px !important;
}
.el-message {
  z-index: 99999 !important;
}

/* 帮助类 */
.c-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.c-flex-row .el-button {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 40px;
}
.c-large-font {
  font-size: 24px;
}
.c-reset-btn {
  line-height: 24px;
  float: right;
  font-size: 14px;
  cursor: pointer;
  color: rgb(247, 137, 137);
}
#c-input-box .mgt-middle {
  margin-top: 12px !important;
}
